---

---

* {
	font-family: monospace, sans-serif;
	font-weight: lighter;
}

body{
	display:flex;
	flex-direction:column;
	background-color: rgb(43,42,51);
    .content {
        background-color: whitesmoke;
        border-radius: 15px;
        display: inline-block;
        align-self: center;
        margin-top: 15%;
        text-align: center;
        box-shadow: 3px 7px 15px 0 rgba(0, 0, 0, 0.7), 5px 10px 20px 0 rgba(0, 0, 0, 0.5);
        .card-body {
            margin: 10px;
            h1 {
                font-size: 2.5em;
            }
            
            h3 {
                color: darkolivegreen;
                font-size: 1.2em;
                div.title {
                    padding-bottom: 10px;
                    
                }
            }
            .btns {
                display: flex;
                margin: auto;
                width: 50%;
                justify-content: space-evenly;
                padding: 30px;
                a {
                    border:none;
                    outline:none;
                    text-decoration:none;
                    color:inherit;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
